<!DOCTYPE html>
<html lang="en">
    {% load static%}
<head>
    <title>Feedback</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light"style="background-color: #FFFFFF;">
            <a class="navbar-brand" href="{% url 'homepage:home' %}">
                <img src="{% static 'text.png' %}" alt=""style="width:129px;height: 39px">
            </a>
        
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pilihKantin:home' %}">Pilih Kantin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'homepage:home' %}">Recomended</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'homepage:home' %}">Category</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Feedback:Feedback' %}">Feedback</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'addMakanan:addMakanan' %}">Add Makanan</a>
                    </li>
                </ul>
            </div>
        </nav>

    <!-- Tampilan feedback -->
    <div class="container-fluid">
        <div style="margin-bottom: 4vw; margin-top: 4vw">
            <h3>Feedbacks from our visitors</h3>
        </div>
        <div>
            {% for item in form %}
            <div class="col-sm-3"style="">
                <div class="card" style="width: 50rem;margin-top:5%;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Nama : {{ item.nama }}</li>
                        <li class="list-group-item">Pesan : {{ item.pesan }}</li>
                    </ul>                  
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

<!-- Footer -->
<footer style="background-color: black; color: white; margin-top: 13vw;" class="page-footer">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright: Kantinin.id</div>
</footer>
    
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>