<!DOCTYPE html>
<html lang="en">
  {% load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kantinin.id | Add Makanan</title>
    <!-- Website Logo -->
    <link rel="icon" type="image/png" href="{% static 'icon.png' %}">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light"style="background-color: #FFFFFF;">
        <a class="navbar-brand" href="{% url 'homepage:home' %}">
            <img src="{% static 'text.png' %}" alt=""style="width:129px;height: 39px">
        </a>
    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'pilihKantin:home' %}">Pilih Kantin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'homepage:home' %}">Recomended</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'homepage:home' %}">Category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Feedback:Feedback' %}">Feedback</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'addMakanan:addMakanan' %}">Add Makanan</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="col-sm-12" style="height: 10%;background-color: white">
        <img src="{% static 'Logo.png' %}" style="  display: block;margin-left: auto;margin-right: auto;width: 50%;">
    </div>

    <!-- Content -->
    <div class="section2"style="height: 45%;">
      
      <div class="content">
        <div class="row">
          <div class="col-md-6">
            <br><br>
              <div class="header">
                  <h1 class="card-title text-center" style="color:darkslategrey; text-align: center;">Add Makanan</h1>
                </div>
          </div>
          <div class="col-md-6" style="color:darkslategrey;">
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                  <div class="form-group">
                    {{ form }}
                  </div>
                </table>
                <br>
                <button type="submit" class="btn btn-success">
                  Add Makanan
                </button>
              </form>
          </div>
        </div>
          
      </div>
      
    </div>

    </div>
    </div>
    </div>
<!-- Footer -->
<footer style="background-color: black; color: white;" class="page-footer">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright: Kantinin.id</div>
</footer>    

</body>
</html>