<!DOCTYPE html>
<html lang="en">
    <!DOCTYPE html>
    <html lang="en">
      {% load static%}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Kanintin.id | Pilih Kantin</title>
        <!-- Website Logo -->
        <link rel="icon" type="image/png" href="{% static 'icon.png' %}">
         <!-- CSS -->
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light"style="background-color: #FFFFFF;">
            <a class="navbar-brand" href="{% url 'homepage:home' %}">
                <img src="{% static 'text.png' %}" alt=""style="width:129px;height: 39px">
            </a>
        
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pilihKantin:home' %}">Pilih Kantin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'homepage:home' %}">Recomended</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'homepage:home' %}">Category</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Feedback:Feedback' %}">Feedback</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'addMakanan:addMakanan' %}">Add Makanan</a>
                    </li>
                </ul>
            </div>
        </nav>
      <div class="row">
    <div class="col-sm-12" style="height:57em ;background-color: #E2E3D9">
        <img src="" style="  display: block;margin-left: auto;margin-right: auto;width: 50%;">
        <h2 style="margin: 2.75%;">Pilihan Kantin</h2>
        <div id="pilihKantin">
            <ul id = "kantinul">
            <li>
            <a class="kantinp" href="{% url 'pilihKantin:pilihKantin' %}">Kantin Fasilkom</a>
            <img style="width: 50%; padding: 4%;"src="https://scontent.fcgk4-4.fna.fbcdn.net/v/t1.0-9/39714740_946681102185735_2481526726606192640_o.jpg?_nc_cat=105&_nc_oc=AQndFnuARS4QKL-yoUKdmgO9nBywqVVYkr6ZDhVj5zYWm3KZvVzXXBteubx8_tPiKLE&_nc_ht=scontent.fcgk4-4.fna&oh=977083e206386f7d33d7fe786646ccfd&oe=5E1B7CFD"> 
            <li>
        </ul>
        </div>
    </div>

    <!-- Footer -->
<footer class="container-fluid" style="background-color: black; color: white;" class="page-footer">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright: Kantinin.id</div>
</footer>

    </body>
    </html>